################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aPressCsharp60nAsp46/9781484213339
/aPressCsharp60nAsp46/AutoLotDAL
/.vs/slnx.sqlite
/Book4Shared/.vs/Book4Shared/v16
